
.border-pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 159, 0, 0.7); /* Sombra inicial */
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 159, 0, 0); /* Aumenta a sombra */
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 159, 0, 0); /* Sombra desaparece */
    }
}

