.container-custom {
    display: grid;
    grid-template-columns: 264px 1fr; /* Uma coluna */
    grid-template-rows: 50px 1fr 50px; /* Três linhas: cabeçalho, conteúdo e rodapé */
    min-height: 100vh; /* Altura mínima da página */

    grid-template-areas:
      "side header"
      "side main"
      "side footer";

    transition: all 0.5s;
  }

  /* Defina o posicionamento dos elementos */
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  side {
    grid-area: side;
    height: 100vh;
  }

  side .side-header {
    height: 50px;
    border-bottom: 1px solid #4b545c;
    color: #fff;

    display: flex;
    align-items: center;    
  }

  footer {
    grid-area: footer;
  }

  i {
    width: 16px;
  }

  .accordion-header {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .accordion-header > button > span {
    transition: ease-in-out .5s;
  }

  .accordion-header.close > button > span {
    color: transparent;
    
  }

  .side-profile div span:last-child {
    transition: ease-in-out .5s;
  }
  .side-profile.close div span:last-child {
    opacity: 0;
  }